body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  
  background-color: #849d8f;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.main-menu,
.sub-menu,
.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu a,
.footer-social a,
.footer-menu a,
.spec-offers a,
.item a,
.footer-copyright a {
    color: #ffffff;
}

input[type="text"],
input[type="search"],
input[type="password"],
textarea {
    color: #999999;
    border: 1px solid #b2b2b2;
    outline: none;
}

input[type="text"]:hover,
input[type="search"]:hover,
input[type="password"]:hover,
textarea:hover {
    color: #999999;
    border: 2px solid #9a9a9a;
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
    border: 2px solid #2e88e4;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.header-wrapper {
    display: flex;
}

.page-header {
    padding-top: 10px;
}

.header-logo {
    width: 154px;
    height: 64px;
    margin-right: 24px;
}

.menu {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

.main-menu {
    width: 420px;
    display: flex;
    padding-top: 15px;
    flex-wrap: wrap;
}

.main-menu > li {
    position: relative;
    padding-bottom: 10px;
}

.main-menu > li > a {
    display: block;
    padding: 7px 13px 7px 14px;
    border-radius: 15px;
}

.main-menu > li:hover > a,
.main-menu > li:focus > a {
    background-color: #f7f6f3;
    color: #333333;
    text-decoration: none;
}

.main-menu > li:active > a {
    background-color: #ededed;
}

.main-menu a:not([href]) {
    background-color: #d07058;
}

.sub-menu {
    position: absolute;
    top: 35px;
    left: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    background-color: #f8f7f4;
    border-radius: 5px;
    display: none;
    z-index: 100;
}

.main-menu > li:hover .sub-menu {
    display: block;
}

.sub-menu li a {
    display: block;
    white-space: nowrap;
    padding: 6px 20px;
    color: #323232;
    text-decoration: none;
}

.sub-menu a:hover,
.sub-menu a:focus {
    background-color: #fbded7;
}

.sub-menu li:first-of-type a:hover,
.sub-menu li:first-of-type a:focus {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sub-menu li:last-of-type a:hover,
.sub-menu li:last-of-type a:focus {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sub-menu a:active {
    background-color: #f6b5a5;
}

.sub-menu li:first-of-type a:active {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sub-menu li:last-of-type a:active {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sub-menu a:not([href]) {
    background-color: #d07058;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    justify-content: flex-end;
    min-width: 267px;
    margin-left: auto;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}


.navigation input:not([type="submit"]) {
    font: inherit;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}

.search-wrapper {
    position: relative;
}

.search-wrapper form {
    position: absolute;
    background-color: #f8f7f4;
    padding: 20px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    top: 35px;
    right: 0;
}

.search-wrapper input {
    padding: 9px 14px;
    padding-right: 224px;
    border-radius: 3px;
    box-sizing: border-box;
}

.navigation span a:not([href]) {
    position: relative;
    display: block;
    margin-left: 10px;
    padding: 8px 16px 8px 45px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    cursor: pointer;
}

.navigation span:hover a:not([href]) {
    color: #323232;
    background-color: rgba(255, 255, 255, 1);
}

.navigation .navigation-search a:not([href]) {
    display: block;
    font-size: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.navigation-login a:not([href])::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    background-image: url(../img/entrance.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 21px;
    height: 19px;
}

.navigation-basket a:not([href])::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    background-image: url(../img/basket.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 21px;
    height: 20px;
}

.navigation-search a:not([href])::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 8px;
    background-image: url(../img/loupe.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 17px;
    height: 17px;
}

.navigation a[href] {
    font-size: 13px;
    line-height: 24px;
    color: #323232;
}

.navigation a:hover,
.navigation a:focus,
.navigation a:active {
    color: #e84d37;
}

.button,
input[type="submit"],
input[type="button"] {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.basket {
    background-color: #f8f7f4;
}

.basket-fill {
    list-style: none;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}

.basket-fill h3 {
    font-weight: normal;
}

.basket-fill span {
    color: #999999;
}

.finish-price {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    color: #323232;
}

.mode-wrapper {
    display: flex;
    align-items: flex-end;
}

.mode {
    margin: 0;
    padding: 0;
    margin-left: auto;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-align: right;
}

.mode span {
    font-size: 22px;
    line-height: 24px;
}

.breadcrumbs {
    width: 267px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs li {
    position: relative;
    display: inline-block;
}

.breadcrumbs a {
    margin-right: 22px;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}

.breadcrumbs li:not(:last-of-type)::after {
    content: "»";
    position: absolute;
    top: 2px;
    right: 4px;
} 

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus,
.breadcrumbs a[href]:active {
    color: #ffbc9e;
}

h1 {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

.spec-offers {
    display: flex;
    margin-bottom: 40px;
}

.offer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 560px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 22px;
    border-radius: 10px;
    
}

.offer:first-of-type {
    background-image: url(../img/raspberries.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.offer:last-of-type {
    margin-left: auto;
    background-image: url(../img/chocolate.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.spec-offers h3 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

.spec-offers p {
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
}

.spec-offers a {
    align-self: flex-end;
    padding: 11px 22px;
    border-radius: 20px;
}

.filters legend {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.filters label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.hits,
.catalog-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: space-between;
    
}

.hits {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.item {
    width: 267px;
    text-align: center;
    margin-bottom: 40px;
}

.hit .item-image {
    position: relative;
}

.hit .item-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/hit.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 61px;
    height: 61px;
}

.item-image img {
    border-radius: 50%;
}

.item h3 {
    width: 248px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.item h3 a:hover,
.item h3 a:focus,
.item h3 a:active {
    color: #ffbc9e;
}

.item p {
    margin: 0;
    padding: 0;
}

.item .item-image {
    position: relative;
    margin-bottom: 10px;
}

.item-price {
    position: absolute;
    top: 210px;
    left: 0;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    text-align: left;
}

.item-price span {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
}

.item .button {
    padding: 10px 17px; 
    border-radius: 20px;
}

.about-us {
    margin-bottom: 40px;
    padding: 20px 0;
    background-image: url(../img/wafer.jpg);
    background-position: 0 0;
    border-radius: 15px;
    
}

p.about {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #323232;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.feature {
    position: relative;
    width: 560px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    box-sizing: border-box;
}

.feature:nth-child(1)::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    background-image: url(../img/ice-cream.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 49px;
    height: 49px;
    
}

.feature:nth-child(2)::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    background-image: url(../img/cow.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 49px;
    height: 49px;
    
}

.feature:nth-child(3)::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    background-image: url(../img/eco.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 49px;
    height: 49px;
    
}

.feature:nth-child(4)::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    background-image: url(../img/thermometer.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 49px;
    height: 49px;
    
}

.feature:nth-child(1),
.feature:nth-child(2) {
    margin-bottom: 20px;
}

.feature:nth-child(odd) {
    padding-left: 77px;
}

.feature:nth-child(even) {
    padding-left: 57px;
    padding-right: 25px;
}

.adv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}



.blog {
    width: 560px;
    padding: 20px;
    padding-bottom: 80px;
    background-image: url(../img/bg-strawberry.jpg);
    background-position: -55px -230px;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-sizing: border-box;
}

.blog h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #323232;
}

.blog p {
    width: 280px;
    margin: 0;
    padding: 0;
}

.blog a {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}

.blog a:hover,
.blog a:focus,
.blog a:active {
    color: #e84d37;
}

.dispatch {
    width: 560px;
    padding: 25px 21px;
    background-color: #f8f7f4;
    border: 5px solid;
    border-image: url(../img/mail-fon.svg) 7 round round;
    border-radius: 10px;
    box-sizing: border-box;
}

.dispatch p {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
}

.dispatch form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dispatch input[type="text"] {
    flex-grow: 1;
    font: inherit;
    font-size: 16px;
    line-height: 24px;
    margin-right: 10px;
    padding: 9px 14px;
    color: #999999;
    border: 1px solid #d3d3d2;
    border-radius: 3px;
}

.dispatch input[type="text"]:hover {
    color: #999999;
    border: 2px solid #9a9a9a;
}

.dispatch form input[type="submit"] {
    padding: 10px 21px;
    border-radius: 20px;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    padding: 62px 27px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: 0 -100px;
}

.contacts-info {
    box-sizing: border-box;
    padding: 28px 25px;
    width: 302px;
    margin-left: auto;
    background-color: #ffffff;
    border-radius: 15px;
}

.contacts-info p {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
}

.contacts-info b {
    font-size: 18px;
    line-height: 24px;
    color: #323232;
    font-weight: bold;
}

.contacts-info .tel {
    font-size: 18px;
    line-height: 22px;
    color: #323232;
    font-weight: bold;
}

.contacts-info span {
    font-size: 14px;
    line-height: 22px;
    color: #323232;
}

.contacts-info button {
    width: 100%;
    padding: 10px 10px;
    border-radius: 20px;
}

.pagination-wrapper {
    display: flex;
}

.pagination-list {
    margin: 0;
    padding: 0;
    margin-left: auto;
    display: flex;
    list-style: none;
}

.pagination-list a {
    display: block;
    min-width: 27px;
    height: 27px;
    margin-right: 2px;
    padding: 5px 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
}

.pagination-list li a {
    position: relative;
}

.pagination-list li:first-of-type a::before {
    position: absolute;
    content: "";
    top: 7px;
    left: 9px;
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 8px;
    height: 12px;
    transform: rotate(180deg);
}

.pagination-list li:last-of-type a::before {
    position: absolute;
    content: "";
    top: 7px;
    left: 9px;
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 8px;
    height: 12px;
}

.pagination-list li:first-of-type a {
    background-color: #849d8f;
}

.pagination-list a:not([href]) {
    color: #353535;
    background-color: #ffffff; 
}

.pagination-list a[href]:hover,
.pagination-list a[href]:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list a[href]:active,
.pagination-list a[href]:active {
    color: #353535;
    background-color: #ffffff;
}

main {
    margin-bottom: 30px;
}

hr {
    margin: 0;
    padding: 0;
}

.page-footer {
    display: flex;
    align-items: flex-end;
    padding-top: 18px;
    padding-bottom: 18px;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: 26px;
    padding: 0;
    width: 267px;
    list-style: none;
}

.social-button {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 11px;
    opacity: 0.8;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
    opacity: 1;
    border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:active {
    opacity: 0.6;
    border: 3px solid rgba(255, 255, 255, 0.7);
}

.button-tw {
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
    
}

.button-inst {
    background-image: url(../img/instagram.svg);
    background-repeat: no-repeat;
}

.button-face {
    background-image: url(../img/fb.svg);
    background-repeat: no-repeat;
}

.button-vk {
    background-image: url(../img/vk.svg);
    background-repeat: no-repeat;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    margin-right: 26px;
    padding-left: 127px;
    padding-right: 100px;
    font-size: 13px;
    line-height: 18px;
    box-sizing: border-box;
}

.footer-menu li {
    margin-bottom: 5px;
}

.footer-menu li:nth-of-type(odd) {
    min-width: 111px;
    margin-right: 32px;
}

.footer-menu li:first-of-type {
    position: relative;
}

.footer-menu li:first-of-type::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -20px;
    background-image: url(../img/heart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 15px;
    height: 13px;
}

.footer-copyright {
    width: 267px;
    font-size: 12px;
    line-height: 18px;
    padding-left: 70px;
    box-sizing: border-box;
}

.footer-copyright p{
    margin: 0;
    padding: 0;
}

.footer-menu a:hover,
.footer-menu a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
    color: #ffbc9e;
}